$content-wrapper--max-width: $bp-xs;
$content-wrapper-width-small-devices: 475px;
$container--padding: 4rem;
$container--padding-sm: 3rem;

.light-auth-body {
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	

	&:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 130%;
	}
}

.exchange-warning {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.exchange-expired {
	background-color: #ed1c24 !important;
	color: #ffffff !important;
}

.exchange-trial {
	background-color: #fff100;
	color: #000000;
}

.layout-mobile {
	&.auth-wrapper {
		.link_wrapper {
			font-size: $regular--font-size;
		}
		.auth-container {
			max-width: unset !important;
			height: 100vh;
			
			> div {
				height: 100%;
				.auth_wrapper {
					padding: 0 1rem !important;
					height: 100%;
				}
			}
			.icon_title-wrapper {
				.icon_title-text.title {
					font-size: 5rem;
				}
			}
			.font-small {
				font-size: $regular--font-size;
			}

			.auth_form-wrapper {

				.field-wrapper {
					
					font-size: $regular--font-size;
					.field-label,
					
					.input_field-input {
					
						font-size: $regular--font-size;
					}
				}
			}
		}
	}
}

.field-wrapper {
		position: fixed;
}

.auth-wrapper {
	background-repeat: no-repeat;
	background-size: cover;
	// background-repeat: repeat;
	// background-size: $background-patter--size;
	overflow-y: scroll;
	justify-content: end !important;
	&:before {
		position: fixed;
		content: '';
		width: 100%;
		height: 100%;
	}

	&.white-theme {
		color: $colors-main-black;
	}

	.auth-container {
		
		max-width: $content-wrapper--max-width;
		max-height: 100vh;
		z-index: 1;
		margin-right: 5%;
		margin-left: 5%;

		.auth_wrapper {
			background-color: #F8F8F8;
			padding: $container--padding $container--padding $container--padding * 1.5;
			font-size: 14px;
			.icon_title-svg {
				.hollaEX_logo_gray {
					fill: $colors-black;
				}
			}
		}

		.auth_form-wrapper {
			margin-top: 2rem;
			position: relative;
		}
	}

	.link_wrapper {
		margin: 1rem;
		margin-top: 0;

		&.multi_links {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			> div:not(:last-child) {
				padding-bottom: 0.5rem;
			}
		}
	}
	.blue-link {
		padding-left: 0.25rem;
	}
	.error_text {
		padding-bottom: 0.5rem;
	}
	.button-margin {
		margin-top: 1.5rem;
	}

	.icon_title-wrapper {
		margin-top: 0;
		&.underline:after {
			height: 0.2rem;
		}

		.icon_title-text {
			margin: 1.5rem auto;

			&.title {
				text-transform: capitalize;
				font-size: 3rem;
			}
		}

		.icon_title-svg {
			width: 100%;
			display: flex;
			justify-content: center;
			svg {
				width: 6rem;
				height: 6rem;
			}
		}

		&.holla-logo {
			.icon_title-svg {
				height: inherit;
				svg {
					width: inherit;
					height: 4rem;
				}
			}
		}
	}
	.holla-button {
		margin-top: 1rem;
		font-size: 14px !important;

	}
	.link_wrapper {
		margin: 1.5rem 0 0;
	}
}

.footer-wrapper {
	position: relative;
}


@media screen and (max-width: 1096px) {
	.auth-wrapper {
		.auth-container {
			max-width: $content-wrapper-width-small-devices !important;

			.auth_wrapper {
				padding: $container--padding-sm $container--padding
				$container--padding-sm;
			}
			.auth_form-wrapper {
				margin-top: 2rem;
				.field-wrapper {
					margin: 1.2rem 0;
					margin-bottom: 20px;
				}
				// .captcha-wrapper {
				// 	height: 5.5rem;
				// }
			}

			.holla-button {
				margin-top: 0.5rem;
			}
		}
		.link_wrapper {
			margin-top: 1rem;
			font-size:12px;
		}
		.icon_title-wrapper {
			.icon_title-svg {
				svg {
					width: 5rem;
					height: 5rem;
				}
			}

			&.holla-logo {
				.icon_title-svg {
					svg {
						height: 3rem;
					}
				}
			}

			.icon_title-text {
				margin: 0.8rem auto;
				font-size:16px;

				&.title {
					font-size: 5rem;
				}
			}
		}
	}
	#rc-imageselect,
	.g-recaptcha {
		transform: scale(0.72);
		-webkit-transform: scale(0.72);
		transform-origin: 0 0;
		-webkit-transform-origin: 0% 0%;
	}
}

@media screen and (max-width: 1096px) and (min-width: 768px) {
	.auth-wrapper {
		.auth-container {
			.auth_form-wrapper {
				.captcha-wrapper {
					height: 5.5rem;
				}
			}
		}
	}
}

@media screen and (max-width: 334px) and (min-width: 280px) {
	.auth-wrapper {
		.auth-container {
			.auth_form-wrapper {
				.captcha-wrapper {
					height: 7rem;
				}
			}
		}
	}
	#rc-imageselect,
	.g-recaptcha {
		transform: scale(0.6);
		-webkit-transform: scale(0.6);
		transform-origin: 0 0;
		-webkit-transform-origin: 0% 0%;
	}
}

@media screen and (max-width: 460px) and (min-width: 335px) {
	.auth-wrapper {
		.auth-container {
			.auth_form-wrapper {
				
				.captcha-wrapper {
					height: 7rem;
				}
			}
		}
	}
	#rc-imageselect,
	.g-recaptcha {
		transform: scale(0.62);
		-webkit-transform: scale(0.62);
		transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
	}
}
